.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.green-back {
    background-color: rgba(59, 163, 38, 0.6);
}

.red-back {
    background-color: rgba(170, 56, 56, 0.6);
}

.fullscreen-modal.fade-in {
    opacity: 1;
}

.fullscreen-modal.fade-out {
    opacity: 0;
}